<!DOCTYPE html>
<head>

	<link rel="stylesheet" type= "text/css" href="css/style.css"/>
<title>JS text input test</title>

	
<head>
<body>
		<!-- where the template content gets dumped into -->
		<!-- if there's html, then render it exactly as is -->
		<!-- with double curly braces, special characters are escaped... so
		for example, angle brackets are turned &gt; -->

		<h1>JS text input test</h1>
		{{{ body }}}
</body>
</html>

